.transaction-history {
  border: 2px solid #e1e7e9;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
  & th,
  & td {
    border: 2px solid #e1e7e9;
  }
}
thead {
  color: white;
  font-size: 20px;
  background-color: #00bcd5;
  border: none;
  & th {
    padding: 15px 50px;
    min-width: 200px;
  }
}
tbody {
  font-size: 15px;
  color: #8b9094;
  & tr {
    &:nth-child(2n) {
      background-color: #ecf1f3;
    }
  }
  & td {
    padding: 8px 0;
  }
}
